$very-pale-blue: hsl(225, 100%, 98%);
$light-grayish-blue: hsl(227, 47%, 96%);
$dark-grayish-blue: hsl(228, 12%, 44%);
$very-dark-blue: hsl(230, 17%, 14%);
$toggle: hsl(230, 22%, 74%);
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$youtube: hsl(348, 97%, 39%);

.container {
  max-width: 1440px;
  margin: 0 20px;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 50px 0 50px 0;
  background-color: $very-pale-blue;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  h1 {
    font-size: 1.4rem;
    margin-bottom:10px;
    font-weight: 700;
    color: $very-dark-blue;
  }

  p {
    font-size: 1.1rem;
    color: $dark-grayish-blue;
    font-weight: 700;
  }

  .seperator {
    margin-top: 25px;
    border-bottom: 1px solid $dark-grayish-blue ;
  }

  .toggle {
    margin: 25px 0 50px 0;

    span { 
      font-size: 1.1rem;
      color: $dark-grayish-blue;
      font-weight: 700;
    }
  }
}

.grid-container {
  display: flex;
  flex-flow: column;
  align-items: center;

  .card {
    background-color: $very-pale-blue;
    transition: background-color 0.3s;
    position: relative;
    width: 100%;
    max-width: 325px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px;

    ::before {
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      .logos {
        margin-right: 10px;
      }

      .name {
        color: $dark-grayish-blue;
        font-weight: 700;
      }
    }

    .number {
      margin: 25px 0 10px 0;
      font-size: 4rem;
      font-weight: 700;
      color: $very-dark-blue;
    }

    .subtitle {
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 25px;
    }

    .daily {
      display: flex;
      justify-content: center;
      align-items: center;

      .arrows {
        margin-right: 5px;
      }
    }

  }
  
  .card-1 {
    margin-top: -50px;

    ::before {
      background: $facebook;
    }

    .daily {
      color: $lime-green;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }

  .card-2 {

    ::before {
      background: $twitter;
    }

    .daily {
      color: $lime-green;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }

  .card-3 {

    ::before {
      background-image: linear-gradient(to right, #fdc468, #df4996);
    }

    .daily {
      color: $lime-green;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }

  .card-4 {

    ::before {
      background: $youtube;
    }

    .daily {
      color: $bright-red;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }
}

#overview-section {
  h1 {
    font-size: 1.4rem;
    margin-bottom:20px;
    font-weight: 700;
    color: $dark-grayish-blue;
  }

  .grid-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .sm-card {
      background-color: $very-pale-blue;
      transition: background-color 0.3s;
      position: relative;
      width: 100%;
      max-width: 325px;
      height: 120px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sm-left {
        margin-left: 20px;

        .sm-title {
          margin-bottom: 20px;
          font-weight: 700;
          color: $dark-grayish-blue;
        }

        .sm-number {
          font-size: 2rem;
          font-weight: 700;
          color: $very-dark-blue;
        }
      }

      .sm-right {
        margin-right: 20px;

        .logos {
          margin-bottom: 20px;
          position: relative;
          right: -10px;
        }

        .sm-percent {
          display: flex;
          align-items: center;

          .arrows {
            margin-right: 3px;
          }

          .today {
            color: $lime-green;
            font-weight: 700;
          }
        }
      }
    }

    .sm-card-2 {
      .sm-right {
        .sm-percent {
          .today {
            color: $bright-red;
          }
        }
      }
    }

    .sm-card-3 {
      .sm-right {
        .logos {
          right: -40px;
        }
      }
    }
  }
}