header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;

  h1 {
    font-size: 38px;
  }

  p {
    font-size: 20px;
    color: grey;
  }

  span { 
    color: grey;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}