
$light-grayish-blue: hsl(227, 47%, 96%);
$dark-grayish-blue: hsl(228, 12%, 44%);
$very-dark-blue: hsl(230, 17%, 14%);
$toggle: hsl(230, 22%, 74%);
$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);
$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$youtube: hsl(348, 97%, 39%);

html {
  $bg: #fff;
  --very-pale-blue: hsl(225, 100%, 98%);
  --top-bg-color: hsl(225, 100%, 98%);
  --card: hsl(225, 100%, 98%);
  --card-hover: hsl(232, 33%, 91%);
  --subtext: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  background: $bg;
}

html[data-theme='dark'] {
  --top-bg-color: hsl(232, 19%, 15%);
  --card: hsl(228, 28%, 20%);
  --card-hover: hsl(228, 26%, 27%);
  --subtext: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);
  background: $very-dark-blue;
}
 
.container {
  max-width: 1440px;
  margin: 0 25px;
}

.heading-container {
  max-width: 1440px;
  margin: 0 25px;
}

header {
  padding: 50px 0 50px 0;
  background-color: var(--top-bg-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: background-color 0.3s;

  h1 {
    font-size: 1.4rem;
    margin-bottom:10px;
    font-weight: 700;
    color: var(--text);
  }

  p {
    font-size: 1.1rem;
    color: var(--subtext);
    font-weight: 700;
  }

  .seperator {
    margin-top: 25px;
    border-bottom: 1px solid var(--subtext);
  }

  .toggle {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 50px 0;

    span { 
      font-size: 1.1rem;
      color: var(--subtext);
      font-weight: 700;
    }

    input[type=checkbox]{
      height: 0;
      width: 0;
      visibility: hidden;
    }
    
    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 52px;
      height: 27px;
      background: $toggle;
      float: right;
      border-radius: 100px;
      position: relative;
    }
    
    label:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      width: 20px;
      height: 20px;
      background: var(--card);
      border-radius: 90px;
      transition: 0.3s;
    }
    
    input:checked + label {
      background-image: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    }
    
    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
      background: var(--card);
    }
    
    label:active:after {
      width: 45px;
    }
  }
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    background-color: var(--card);
    transition: background-color 0.3s;
    position: relative;
    width: 100%;
    max-width: 325px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px;

    ::before {
      display: block;
      width: 100%;
      height: 5px;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
    }

    &:hover {
      cursor: pointer;
      background-color: var(--card-hover);
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      .logos {
        margin-right: 10px;
      }

      .name {
        color: var(--subtext);
        font-weight: 700;
      }
    }

    .number {
      color: var(--text);
      margin: 25px 0 10px 0;
      font-size: 4rem;
      font-weight: 700;
    }

    .subtitle {
      color: var(--subtext);
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 25px;
    }

    .daily {
      display: flex;
      justify-content: center;
      align-items: center;

      .arrows {
        margin-right: 5px;
      }
    }

  }
  
  .card-1 {
    margin-top: -50px;

    ::before {
      background: $facebook;
    }

    .daily {
      color: $lime-green;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }

  .card-2 {

    ::before {
      background: $twitter;
    }

    .daily {
      color: $lime-green;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }

  .card-3 {

    ::before {
      background-image: linear-gradient(to right, #fdc468, #df4996);
    }

    .daily {
      color: $lime-green;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }

  .card-4 {

    ::before {
      background: $youtube;
    }

    .daily {
      color: $bright-red;
      font-weight: 700;

      .fa-sort-up {
        margin: 10px 5px 0 0;
      }
    }
  }
}

#overview-section {
  h1 {
    font-size: 1.4rem;
    margin-bottom:20px;
    font-weight: 700;
    color: var(--text);
  }
  .sm-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .sm-card {
      background-color: var(--card);
      transition: background-color 0.3s;
      position: relative;
      width: 100%;
      max-width: 325px;
      height: 120px;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: var(--card-hover);
      }  

      .sm-left {
        margin-left: 20px;

        .sm-title {
          margin-bottom: 20px;
          font-weight: 700;
          color: var(--subtext);
        }

        .sm-number {
          font-size: 2rem;
          font-weight: 700;
          color: var(--text);
        }
      }

      .sm-right {
        margin-right: 20px;

        .logos {
          margin-bottom: 20px;
          position: relative;
          right: -10px;
        }

        .sm-percent {
          display: flex;
          align-items: center;

          .arrows {
            margin-right: 3px;
          }

          .today {
            color: $lime-green;
            font-weight: 700;
          }
        }
      }
    }

    .sm-card-2 {
      .sm-right {
        .sm-percent {
          .today {
            color: $bright-red;
          }
        }
      }
    }

    .sm-card-3 {
      .sm-right {
        .logos {
          right: -40px;
        }
      }
    }

    .sm-card-4 {
      .sm-right {
        .logos {
          right: -40px;
        }
      }
    }

    .sm-card-5 {
      .sm-right {
        .logos {
          right: -35px;
        }
      }
    }

    .sm-card-6 {
      .sm-right {
        .sm-percent {
          .today {
            color: $bright-red;
          }
        }
      }
    }

    .sm-card-7 {
      .sm-right {
        .logos {
          right: -15px;
        }
      }
    }

    .sm-card-8 {
      .sm-right {
        .logos {
          right: -25px;
        }
      }
    }
  }
}

@media (max-width: 372px) {
  .container {
    margin: 0 20px;
  }
}

@media (min-width: 690px) {
  .grid-container {
    margin-top: -50px;
    margin-bottom: 50px;
    .card {
      margin: 10px;
    }
  }

  #overview-section {
    .sm-grid-container {
      .sm-card {
        margin: 10px;
      }
    }
  }
}

@media (min-width: 1086px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  header {
    .heading-container {
      display: flex;
      justify-content: space-between;
    }

    .seperator {
      display: none;
    }

    .toggle {
      margin-right: 10px;
      span {
        margin-right: 10px;
        margin-top: 5px;
      }
    }
  }
}

@media (min-width: 1420px) {
  .heading-container {
    max-width: 1370px;
    margin: 0 auto;
  }
}