html {
  --very-pale-blue: hsl(225, 100%, 98%);
  --top-bg-color: hsl(225, 100%, 98%);
  --card: hsl(225, 100%, 98%);
  --card-hover: hsl(232, 33%, 91%);
  --subtext: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);
  background: #fff;
}

html[data-theme='dark'] {
  --top-bg-color: hsl(232, 19%, 15%);
  --card: hsl(228, 28%, 20%);
  --card-hover: hsl(228, 26%, 27%);
  --subtext: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);
  background: #1e202a;
}

.container {
  max-width: 1440px;
  margin: 0 25px;
}

.heading-container {
  max-width: 1440px;
  margin: 0 25px;
}

header {
  padding: 50px 0 50px 0;
  background-color: var(--top-bg-color);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

header h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: var(--text);
}

header p {
  font-size: 1.1rem;
  color: var(--subtext);
  font-weight: 700;
}

header .seperator {
  margin-top: 25px;
  border-bottom: 1px solid var(--subtext);
}

header .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 50px 0;
}

header .toggle span {
  font-size: 1.1rem;
  color: var(--subtext);
  font-weight: 700;
}

header .toggle input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

header .toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #aeb3cb;
  float: right;
  border-radius: 100px;
  position: relative;
}

header .toggle label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--card);
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .toggle input:checked + label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#378fe6), to(#3eda82));
  background-image: linear-gradient(#378fe6, #3eda82);
}

header .toggle input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: var(--card);
}

header .toggle label:active:after {
  width: 45px;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container .card {
  background-color: var(--card);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  width: 100%;
  max-width: 325px;
  height: 260px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 25px;
}

.grid-container .card ::before {
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.grid-container .card:hover {
  cursor: pointer;
  background-color: var(--card-hover);
}

.grid-container .card .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.grid-container .card .social .logos {
  margin-right: 10px;
}

.grid-container .card .social .name {
  color: var(--subtext);
  font-weight: 700;
}

.grid-container .card .number {
  color: var(--text);
  margin: 25px 0 10px 0;
  font-size: 4rem;
  font-weight: 700;
}

.grid-container .card .subtitle {
  color: var(--subtext);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.grid-container .card .daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .card .daily .arrows {
  margin-right: 5px;
}

.grid-container .card-1 {
  margin-top: -50px;
}

.grid-container .card-1 ::before {
  background: #198ff5;
}

.grid-container .card-1 .daily {
  color: #1db489;
  font-weight: 700;
}

.grid-container .card-1 .daily .fa-sort-up {
  margin: 10px 5px 0 0;
}

.grid-container .card-2 ::before {
  background: #1ca0f2;
}

.grid-container .card-2 .daily {
  color: #1db489;
  font-weight: 700;
}

.grid-container .card-2 .daily .fa-sort-up {
  margin: 10px 5px 0 0;
}

.grid-container .card-3 ::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(to right, #fdc468, #df4996);
}

.grid-container .card-3 .daily {
  color: #1db489;
  font-weight: 700;
}

.grid-container .card-3 .daily .fa-sort-up {
  margin: 10px 5px 0 0;
}

.grid-container .card-4 ::before {
  background: #c4032a;
}

.grid-container .card-4 .daily {
  color: #dc414c;
  font-weight: 700;
}

.grid-container .card-4 .daily .fa-sort-up {
  margin: 10px 5px 0 0;
}

#overview-section h1 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--text);
}

#overview-section .sm-grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#overview-section .sm-grid-container .sm-card {
  background-color: var(--card);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  width: 100%;
  max-width: 325px;
  height: 120px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overview-section .sm-grid-container .sm-card:hover {
  cursor: pointer;
  background-color: var(--card-hover);
}

#overview-section .sm-grid-container .sm-card .sm-left {
  margin-left: 20px;
}

#overview-section .sm-grid-container .sm-card .sm-left .sm-title {
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--subtext);
}

#overview-section .sm-grid-container .sm-card .sm-left .sm-number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
}

#overview-section .sm-grid-container .sm-card .sm-right {
  margin-right: 20px;
}

#overview-section .sm-grid-container .sm-card .sm-right .logos {
  margin-bottom: 20px;
  position: relative;
  right: -10px;
}

#overview-section .sm-grid-container .sm-card .sm-right .sm-percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#overview-section .sm-grid-container .sm-card .sm-right .sm-percent .arrows {
  margin-right: 3px;
}

#overview-section .sm-grid-container .sm-card .sm-right .sm-percent .today {
  color: #1db489;
  font-weight: 700;
}

#overview-section .sm-grid-container .sm-card-2 .sm-right .sm-percent .today {
  color: #dc414c;
}

#overview-section .sm-grid-container .sm-card-3 .sm-right .logos {
  right: -40px;
}

#overview-section .sm-grid-container .sm-card-4 .sm-right .logos {
  right: -40px;
}

#overview-section .sm-grid-container .sm-card-5 .sm-right .logos {
  right: -35px;
}

#overview-section .sm-grid-container .sm-card-6 .sm-right .sm-percent .today {
  color: #dc414c;
}

#overview-section .sm-grid-container .sm-card-7 .sm-right .logos {
  right: -15px;
}

#overview-section .sm-grid-container .sm-card-8 .sm-right .logos {
  right: -25px;
}

@media (max-width: 372px) {
  .container {
    margin: 0 20px;
  }
}

@media (min-width: 690px) {
  .grid-container {
    margin-top: -50px;
    margin-bottom: 50px;
  }
  .grid-container .card {
    margin: 10px;
  }
  #overview-section .sm-grid-container .sm-card {
    margin: 10px;
  }
}

@media (min-width: 1086px) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  header .heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .seperator {
    display: none;
  }
  header .toggle {
    margin-right: 10px;
  }
  header .toggle span {
    margin-right: 10px;
    margin-top: 5px;
  }
}

@media (min-width: 1420px) {
  .heading-container {
    max-width: 1370px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */